<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Добро пожаловать!</h1>
    <ul>
        <li><a href="{{ url_for('get_schedule', parallel='1') }}">Расписание для 1 классов</a></li>
        <li><a href="{{ url_for('get_schedule', parallel='2') }}">Расписание для 2 классов</a></li>
        <li><a href="{{ url_for('get_schedule', parallel='3') }}">Расписание для 3 классов</a></li>
        <li><a href="{{ url_for('get_schedule', parallel='4') }}">Расписание для 4 классов</а></li>
        <li><a href="{{ url_for('get_schedule', parallel='5') }}">Расписание для 5 классов</a></li>
        <li><a href="{{ url_for('get_schedule', parallel='6') }}">Расписание для 6 классов</a></li>
        <li><a href="{{ url_for('get_schedule', parallel='7') }}">Расписание для 7 классов</a></li>
        <li><a href="{{ url_for('get_schedule', parallel='8') }}">Расписание для 8 классов</a></li>
        <li><a href="{{ url_for('get_schedule', parallel='9') }}">Расписание для 9 классов</a></li>
        <li><a href="{{ url_for('get_schedule', parallel='10') }}">Расписание для 10 классов</a></li>
        <li><a href="{{ url_for('get_schedule', parallel='11') }}">Расписание для 11 классов</a></li>
        <li><a href="{{ url_for('manage') }}">Управление расписанием</a></li>
    </ul>
</body>
</html>
